<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <!--
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    -->
    <link href="//cdn.bootcss.com/materialize/0.98.0/css/materialize.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/materialize/0.98.0/js/materialize.js"></script>
    <title>User</title>
</head>
<body>
    <header>
      <nav class="blue">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">USER</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Register</a></li>
          <li><a href="badges.html">Login</a></li>
          <li><a href="collapsible.html">Logout</a></li>
        </ul>
      </div>
      </nav>

      <!--
      <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">

      </ul>
      side-nav
      -->
    </header>

